<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
    <title><%= title %></title>
</head>

<body>
  <% include ../partials/nav %>
    <div class="container">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Login</h3>
            <form action="/auth/login" method="post">
              <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" name="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" name="password" class="form-control" id="pwd">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me</label>
              </div>
              <button type="submit" class="btn btn-block btn-success">Login</button>
            </form>
            <div>
              <p>Belum punya akun? <a href="/auth/register">Sign up</a>.</p>
            </div>
            <% if(locals.errorMessage){ %>
              <hr>
              <div class="alert alert-danger">
                <strong>Oops!</strong>
                <%= errorMessage %>.
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
</body>

</html>
