<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>Add Book: </thead>
      <tbody>
        <form class="" action="/book/add/<%=data.id%>" method="post">
          <input type="text" placeholder="input EventId" name="EventId">
          <input type="text" placeholder="input DJId" name="DJId">
          <input type="text" placeholder="input isApproved" name="isApproved">
          <button>Submit</button>
        </form>
      </tbody>
    </table>
  </body>
</html>
