<form action="/genres/edit/<%= genre.id %>" method="post">
  <input type="hidden" name="id" value="<%= genre.id %>">
  <input type="text" name="name" placeholder="name" value="<%= genre.name %>"><br>
  <input type="submit" name="Submit">
</form>
